<!-- To the right -->
         <div class="pull-right hidden-xs">
             <div class="row">
                 <div class="col-md-12">
                     <div class="btn-group btn-group-sm">
                         <a class="btn btn-default" ng-class="(language() == 'zh_CN') ? 'btn-primary' : ''" ng-click="setLanguage('zh_CN')">简体中文</a>
                         <a class="btn btn-default" ng-class="(language() == 'en') ? 'btn-primary' : ''" ng-click="setLanguage('en')">English</a>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Default to the left -->
         <strong>Copyright &copy; 2015
             <a href="#">Phuag</a>.</strong>
         保留所有权利.