
                <section class="sidebar">
                    <!-- 侧边菜单栏 -->
                    <ul class="sidebar-menu">
                        <li class="header">导航</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="active">
                            <a ui-sref="root.main.staffs">
                                <i class="fa fa-link"></i>
                                <span><msg key="userManger"></msg></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="root.main.anotherLink">
                                <i class="fa fa-signal"></i>
                                <span>Another Link</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a>
                                <i class="fa fa-link"></i>
                                <span>Multilevel</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a ui-sref="root.login">Link in level 2</a>
                                </li>
                                <li>
                                    <a ui-sref="root.lock">Link in level 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
            